/* ---------- Color Module Styles ----------- */


body{
  font-family: sans-serif;
  background: var(--primary);
  color: var(--dark)
}
.navbar, .site-footer{
  background: var(--info);
}
.button, .button:hover{
  background: var(--danger);
  border-color: var(--danger);
}

.view-content > .views-row{
  background:var(--secondary);
  border-radius: 5px;
}
a.page-link:hover{
  color:var(--dark);
}
img{
  color:var(--dark);
}
.pagination .page-item .page-link
{
  background-color: var(--danger);
  border: 0;
}
li a.page-link{
  color:var(--dark);
}
a.page-link.active{
  color:var(--light);
}


.form-search.form-control{
  background: var(--light);
}
a.nav-link.nav-link--user, a.nav-link.nav-link--user-logout, .nav-link--user-login{
color:var(--light)
}
a.nav-link.nav-link--user:hover, a.nav-link.nav-link--user-logout:hover{
text-decoration: underline;
}
#skip-nav a:hover, #skip-nav a:active, #skip-nav a:focus{
  color:var(--light);
  background: var(--primary);
  
}
span.page-link{
  color:var(--dark) !important;
  text-decoration:underline;
}
