 
.view-content.row{
    display: grid;
    grid-template-columns: 1fr; 
    gap:1rem;
}
.layout-main-wrapper{
    padding-top: 1em;
}


.view-content > .views-row{
display: grid;
grid-row: span 5;
grid-column: span 1;
grid-template-rows: subgrid;
grid-template-columns: subgrid;
height: 100%;
gap:0;
}
img.img-fluid.d-inline-block.align-top {
    scale: 3;
    padding-left: 2em;
}
h2.node__title, div.field.field--name-field-image.field--type-image.field--label-hidden.field__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.content nav{
    padding-top:0em;
}
skip-nav {
    display: inline;
    float: right;
    top: 1em;
    margin: 0;
    line-height: 1;
  }
  #skip-nav a {
    font-weight: bold;
    padding: 1px;
  }
  #skip-nav a:link, #skip-nav a:visited {
    position: relative;
    top: -300px;
  }
  #skip-nav a:hover, #skip-nav a:active, #skip-nav a:focus {
    position: relative;
    top: 0;
    text-decoration: none;
  }

@media (width >= 992px){
    .view-content.row{
        grid-template-columns: repeat(4, 1fr);
    }
}